html {
  font-family: "Fredoka One", cursive;
}

body {
  background: #2c2c2c;
}

h2 {
  font-size: 1.25rem;
  margin: 1rem 0.5rem;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 80%;
  height: 2rem;
  color: #4ff358;
  border: 1px solid #000000;
}

progress[value]::-webkit-progress-bar,
progress[value] {
  background-color: #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: #4ff358;
  transition: all 0.2s ease-out;
}

progress[value]::-moz-progress-bar {
  background-color: #4ff358;
  transition: all 0.2s ease-out;
}

progress.alternate {
  background-color: red;
  color: red;

}

button {
  font: inherit;
  color: white;
  padding: 1rem 2rem;
  border-radius: 6px;
  cursor: pointer;
  margin: 0.5rem;
}

#attack-btn {
  background: #eb2a2a;
  border: 1px solid #eb2a2a;
}

#strong-attack-btn {
  background: #0690ec;
  border: 1px solid #0690ec;
}

#heal-btn {
  background: #14a042;
  border: 1px solid #14a042;
}

#log-btn {
  background: #a137e7;
  border: 1px solid #a137e7;
}

#mute-btn {
  background: #e06919;
  border: 1px solid #e06919;
}

#unmute-btn {
  background: #e019c5;
  border: 1px solid #e019c5;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #a927f5;
  border-color: #a927f5;
}

#health-levels,
#actions, #scoreboard, #admin {
  margin: 2rem auto;
  width: 30rem;
  text-align: center;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background: white;
}

#actions {
  display: flex;
  flex-direction: column;
}

#scoreboard span {
  font-size: 50px;
}

#bonus-life {
  font-weight: bold;
  color: white;
  background: #ff0062;
  border: 1px solid #ff0062;
  padding: 0.15rem 0.5rem;
  border-radius: 10px;
  text-align: center;
  margin: 0 0.5rem;
}
